<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucie.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ItemsActivity"
            android:label="@string/vegetables"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".Home"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home"
            android:theme="@style/FullscreenTheme" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="af4241f6a55e72bc3dd5b031966f291335b69df3" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="af4241f6a55e72bc3dd5b031966f291335b69df3" />

        <activity
            android:name=".ToolbarThings"
            android:label="@string/title_activity_toolbar_things"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ItemsDetails"
            android:label="@string/title_activity_items_details"
            android:parentActivityName=".ItemsActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lucie.myapplication.ItemsActivity" />
        </activity>
        <activity
            android:name=".Cartactivity"
            android:label="@string/title_activity_cartactivity"
            android:parentActivityName=".ItemsDetails"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lucie.myapplication.ItemsDetails" />
        </activity>
    </application>

</manifest>
